html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  width: 300px;
  line-height: 10;
  margin: auto;
  font-size: 1.111rem;
  background-color: #5c7178;
  color: black;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  border-radius: 1rem;
  border :1px; 
  
}